<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="สถิติขยะ" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="คำนวณขยะ" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator" href="#/tab/cal">
    <ion-nav-view name="tab-cal"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="ข้อมูลครัวเรือน" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="แผนที่" icon-off="ion-social-buffer-outline" icon-on="ion-social-buffer" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


</ion-tabs>
